{% extends 'base.html' %}

{% block content %}

<div class="row tools" style="display:none;">
    <div class="col-sm-12">

        <div class="btn-group pull-right" role="group">
          <button type="button" class="btn btn-info"><span class="glyphicon glyphicon-eye-open"
                  data-toggle="modal"
                  data-target="#viewfileModal"></span></button>
          <button type="button" class="btn btn-primary"><span class="glyphicon glyphicon-resize-full"></span></button>
          <button type="button" class="btn btn-success"><span class="glyphicon glyphicon-comment" data-tooltip="tooltip"
                  title="Send Feedback" data-toggle="modal" data-target="#feedbackModal"></span></button>
        </div>
        <br><br>
    </div>
</div>

<ol class="breadcrumb">
  <li class="active"><span class="glyphicon glyphicon-home"></span></li>
</ol>

<div>
<div class="row">
    <div class="col-lg-12">
        <div class="well well-bg" >
            <iframe width="100%" id="the_content" class="the_content"></iframe>
        </div>
    </div>
</div>
</div>
{% endblock %}