{% extends 'default/base.html' %}

{% block content %}
<div class="panel panel-margin-top">
    <div class="panel-heading">
        <img src="/static/images/logo.png" width="120" height="60">
    </div>
    <div class="panel-body">
        {% if message %}
            <div class="alert alert-success">
                {% autoescape off %}
                    {{message}}
                {% endautoescape%}
            </div>
        {% endif %}
        <form method="post" action="/reset">
            <input type="hidden" name="hashcode" value="{{hash_code}}">
            <input type="hidden" name="email" value="{{email}}">
            <div class="form-group">
                <input type="password" name="new_password"
                       class="form-control" placeholder="New password.." autofocus required>
            </div>

            <button type="submit" class="btn btn-sm btn-primary pull-right">
                <span class="glyphicon glyphicon-cog"></span>&nbsp;Recover
            </button>
        </form>
    </div>
    <div class="panel-footer">
        <p>
            <small>Copyright &copy; 2017. All rights reserved !</small>
        </p>
    </div>
</div>
{% endblock %}