<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>AIG Business Policies </title>
    <link rel="icon" href="/static/images/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="/static/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/css/theme.min.css">
    <script src="/static/jquery/dist/jquery.min.js"></script>
    <script src="/static/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="/static/scrollup/dist/jquery.scrollUp.min.js"></script>
    <script>
        $(function () {
          $.scrollUp({
            scrollName: 'scrollUp', // Element ID
            topDistance: '300', // Distance from top before showing element (px)
            topSpeed: 300, // Speed back to top (ms)
            animation: 'fade', // Fade, slide, none
            animationInSpeed: 200, // Animation in speed (ms)
            animationOutSpeed: 200, // Animation out speed (ms)
            activeOverlay: false, // Set CSS color to display scrollUp active point, e.g '#00FFFF'
            scrollImg: true
          });
        });
    </script>
    <style>
    #scrollUp {
      bottom: 20px;
      right: 20px;
      width: 38px; /* Width of image */
      height: 38px; /* Height of image */
      background: url(/static/images/top.png) no-repeat;
    }
    body{
        /*background: url('/static/images/bg.png') no-repeat top left;
        background-size: 100%;*/
    }

    .well-bg{
         background: url('/static/images/bg1.jpg') no-repeat top left;
         background-size: 100%;
    }

    @media (min-width: 768px){
        .navbar {
            border-radius: 0px;
        }
    }
		.breadcrumb>li+li:before{
			content: "\25BA";
		}
		.page-header{
		    margin: -24px 0 20px;
		}
		@media (min-width: 1200px){
		    .col-lg-3 {
                width: 20%;
            }
            .col-lg-9 {
            width: 80% !important;
            }
		}
		@media (min-width: 768px){
		    .col-sm-offset-1 {
                margin-left: 1.333333%;
            }
		}
		ul li{
		    list-style-type: none;
		}

		span.glyphicon.glyphicon-resize-full, span.glyphicon.glyphicon-resize-small{
		    cursor: pointer;
		}
		.nav-tabs > li{
		    padding: 4px 37px;
		}
		.navbar-inverse {
            background-color: #f9f9f9;
        }

        .navbar-inverse .navbar-nav>li>a {
            color: #5f5f5f;
        }
        .navbar-inverse .navbar-nav>li>a:hover {
            color: #81c7fd;
        }
        .breadcrumb{
        margin-bottom : 15px;
        }
        .nav>li, .nav>li>a {
            font-weight: bold;

        }
        #the_content{
            border : none;
        }
        @media (min-width: 992px){
            .modal-lg {
                width: 90%;
            }
        }

    </style>
</head>
<body>
<nav class="navbar navbar-inverse">
    <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header clearfix">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                    data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/main">
                <img src="/static/images/logo.png" width="160" height="56" align="top" style="margin-top:-16px;">
            </a>
        </div>
        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse clearfix" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-right clearfix">
                {% if current_user.is_admin %}
                    <li><a href="/admin">Visit admin panel</a></li>
                {% endif %}
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                       aria-expanded="false">
                        <span class="glyphicon glyphicon-user"></span>&nbsp;
                        {{current_user.name}} ( {{user_department_name}} )<span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="/main/settings">Settings</a></li>
                        <li role="separator" class="divider"></li>
                        <li><a href="/logout">Logout</a></li>
                    </ul>
                </li>
            </ul>
        </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
</nav>

<div class="container-fluid">

    <div class="row">
        <div class="col-lg-12">
            <div>
                <!-- Nav tabs -->
                <ul class="nav nav-tabs" role="tablist">
                    {% for d in departments %}
                    <li role="presentation" {% if loop.index== 1%} class="active" {% endif %}>
                        <a href="#{{d.id}}" aria-controls="{{d.id}}" role="tab"
                           data-toggle="tab">{{d.name}}</a>
                    </li>
                    {% endfor %}

                </ul>
                <!-- Tab panes -->
                <div class="tab-content">
                    {% for d in departments %}
                    <div role="tabpanel"
                         class="tab-pane {% if loop.index == 1%} active {% endif %}"
                         id="{{d.id}}">
                        <br>

                        <div class="col-lg-3 sidebar">
                            <ul class="nav nav-pills nav-stacked">
                                <li role="presentation" class="active">
                                    <a href="/main">
                                        <span class="glyphicon glyphicon-folder-open"></span>&nbsp;&nbsp;All files</a>
                                </li>
                                {% for row in files_by_department[d.id] %}
                                <li role="presentation">
                                    <a href="#" data-id="{{row.id}}" data-title="{{row.title}}"
                                       class="menu_links" data-nav="{{row.title}}_{{row.id}}_{{d.id}}" data-department="{{d.id}}">
                                        <span class="glyphicon glyphicon-file"></span> &nbsp;{{row.title}}</a>
                                </li>
                                {% endfor %}
                            </ul>
                        </div>
                        <div class="col-lg-9 mainbar" id="tab_{{d.id}}">
                            {% block content %}
                            {% endblock %}
                        </div>

                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</div>

	<!-- View file Modal -->
<div class="modal fade" id="viewfileModal" tabindex="-1" role="dialog" aria-labelledby="viewfileModalLabel">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="viewfileModalLabel"></h4>
      </div>
      <div class="modal-body" style="height:650px; overflow-y:scroll;">
            <iframe src="" style="width: 100%; height: 100%; border:0px;"></iframe>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>


	<!-- View file Modal -->
<div class="modal fade" id="feedbackModal" tabindex="-1" role="dialog" aria-labelledby="feedbackModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="feedbackModalLabel">Feedback</h4>
      </div>
      <div class="modal-body">
            <form class="form-horizontal" method="post" name="feedbackFrm" action="/main/feedback">
                <div class="form-group">
                    <label class="control-label col-sm-2">Message</label>
                    <div class="col-sm-10">
                        <textarea class="form-control" name="message"></textarea>
                    </div>
                </div>
            </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="submit" class="btn btn-primary">Send</button>
      </div>
    </div>
  </div>
</div>
<div class="well">
        <em>Copyright &copy; 2017. Version 1.0</em>
</div>
</body>
<script>

 function setContentHeightDefault(){
    var winHeight = screen.availHeight;
    var frame = document.querySelectorAll('.the_content')
    for(i=0; i < frame.length; i++){
        frame[i].style.height = winHeight+"px";
    }
 }

 setContentHeightDefault();

 function setContentHeight(department_id){
    var winHeight = screen.availHeight;
    var frame = document.querySelector('#tab_'+department_id + ' #the_content')
    frame.style.height = winHeight+"px";
 }


 function loadMenu(parent_id, instance){
     $('.tools').hide();

     var department_id = instance.data('department');
     $('#the_content').contents().find('body').empty();
     $('.well').removeClass('well-bg');

     setContentHeight(department_id);

     document.querySelector('#tab_'+department_id + ' #the_content').contentWindow.document.write('<span id="loader">&nbsp;&nbsp;Loading.... &nbsp; <img  src="/static/images/arrow-loader.gif"></span>');
     $.ajax({
        url: '/main/menu/'+parent_id,
     }).done(function(response){
            menu = '<ul class="submenu">';
            $.each(response.results, function(i, row){
                nav = instance.data('nav')+' - '+row.title+'_'+row.id+'_'+department_id;
                menu += '<li role="presentation">\
                <a href="#" class="menu_links" data-id="'+row.id+'" data-title="'+row.title+'"\
                data-nav="'+nav+'" data-department="'+department_id+'">\
                <span class="glyphicon glyphicon-file"></span> &nbsp;'+row.title+'</a>\
                </li>';
            });
            menu += '</ul>';
            instance.parent().find('.submenu').empty();
            instance.parent().append(menu);
            $('#tab_'+department_id+' .breadcrumb').find('.blinks').remove();
            link_class=instance.data('title').replace(' ', '');
            if( $('#tab_'+department_id+' .breadcrumb').find('.'+link_class).length == 0 ){
                var links = instance.data('nav').split('-');
                var breadcrumb = '';
                $.each(links, function(i, v){
                       var x = v.split('_');
                       breadcrumb += '<li class="'+link_class+' blinks">\
                       <a target="_blank" href="/main/view_link/'+x[1]+'" data-nav="'+instance.data('nav')+'" data-department="'+x[2]+'" href="#" data-id="'+x[1]+'" data-title="'+x[0]+'">'+x[0]+'</a></li>';
                });
                $('#tab_'+department_id+' .breadcrumb').append(breadcrumb);
            }

            $('#tab_'+department_id + ' #the_content').contents().find('#loader').remove();
            $('#tab_'+department_id + ' #the_content').contents().find('body').empty()
            document.querySelector('#tab_'+department_id + ' #the_content').contentWindow.document.write(response.content)

            $('#tab_'+department_id + ' span.glyphicon.glyphicon-eye-open').attr('data-link', response.file_url);
            $('#tab_'+department_id + ' span.glyphicon.glyphicon-comment').attr('data-fileid', parent_id);
            $('.tools').show();
     }).fail(function(xhr){
            $('#the_content').contents().find('#loader').remove();
            document.querySelector('#tab_'+department_id + ' #the_content').contentWindow.document.write(xhr.responseText);
     });
 }

 $('body').on('click', '.menu_links', function(e){
    e.preventDefault();
    var id = $(this).data('id');
    loadMenu(id, $(this));
 });

 $('body').on('click', 'span.glyphicon.glyphicon-resize-full', function(e){
        $(this).removeClass('glyphicon-resize-full').addClass('glyphicon-resize-small');
        $('.sidebar').hide();
        $('.mainbar').removeClass('col-lg-9').addClass('col-lg-12');
 });

 $('body').on('click', 'span.glyphicon.glyphicon-resize-small', function(e){
        $(this).removeClass('glyphicon-resize-small').addClass('glyphicon-resize-full');
        $('.sidebar').show();
        $('.mainbar').removeClass('col-lg-12').addClass('col-lg-9');
 });

 $('#viewfileModal').on('show.bs.modal', function (e) {
  		var link = e.relatedTarget.dataset.link;
		var title = $.trim(e.relatedTarget.innerHTML);
		$('#viewfileModalLabel').text(title);

        var view_link = 'http://docs.google.com/gview?url='+link+'&embedded=true';
        $(this).find('.modal-body iframe').attr('src', view_link);
 });

 $('#feedbackModal').on('show.bs.modal', function (e) {
  		var fileid = e.relatedTarget.dataset.fileid;
		var title = $.trim($('a.menu_links[data-id='+fileid+']').text());
		$('#feedbackModalLabel').text('Send Feedback for '+title);

		$('#feedbackModal').find('button[type=submit]').click(function(e){
             var btn  = $(this);
             $.ajax({
                url: '/main/feedback',
                type: 'POST',
                data: {fileid: fileid, message: $('#feedbackModal').find('textarea[name=message]').val() }
             }).done(function(response){
                //
             });
		});
 });

 $('#the_content h1.lead').text('Welcome to '+$('ul.nav.nav-tabs li.active a[data-toggle=tab]').text()+' policies.');

 $('ul.nav.nav-tabs li a[data-toggle=tab]').click(function(e){
     $('#the_content h1.lead').text('Welcome to '+$(this).text()+' policies.');
 });


</script>
</html>